body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #1e3326 url(images/bg.svg) repeat;
  animation: bgAnimation 30s linear infinite;
  font-family: 'Teko', sans-serif;
}

@keyframes bgAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 100vh;
  }
  
}

* {
  box-sizing: border-box;
}

:root {
  --animate-delay: 0.5s;
}

body.display-mode .mobileonly {
  display: none;
}

body:not(.display-mode) .displayonly {
  display: none;
}


.splashLogo {
  width: 60vw;
  margin-bottom: 50px;
}

.playerName{
padding: 15px 40px;
    text-align: center;
    font-size: 28px;
    width: 90%;
    border: 2px solid #000000;
    font-family: 'Teko', sans-serif;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #00000052;
    color: white;
    backdrop-filter: blur(1px);
}

.playerName::placeholder {
  color: #ffffff;
}

.btn {
  border: 3px solid #000000;
  background-color: #243f20;
  background-image: linear-gradient(180deg, #43683b, #454545 50%, #000000 50%, #243f20);
  box-shadow: 2px 2px 10px 0px #0000004d;
  font-family: 'Teko', sans-serif;
  color: #ff9d00;
  text-shadow: 0px -1px 0px rgb(253 204 3), 0px 2px 2px rgb(83 9 6);
  font-size: 3vh;
  line-height: 1em;
  padding: 15px 40px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  align-self: center;
}

game {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

game.active {
  display: flex;
}

screen {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  flex-direction: column;
}

screen.active {
  display: flex;
}

page {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
  width: 100%;
}
page:first-child {
  display: flex;
}


h1, h2, h3, h4, h5 {
  font-family: 'Teko', sans-serif;
  font-family: 'Teko', sans-serif;
  color: rgb(255 130 0);
  text-shadow: 0px -1px 0px rgb(253 204 3), 0px 2px 2px rgb(83 9 6);
  font-weight: 500;
}

h1{
  font-size: 8vw;
}
h2{
  font-size: 7vw;
}
h3{
  font-size: 6vw;
}

.display-mode h1{
  font-size: 6vw;
}


.gamelogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  width: 90%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
}

.gamelogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
}

.portrait {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.portrait img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.playerPortrait {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  width: 33vw;
  height: auto;
  border: 3px double #ebb101;
  background: linear-gradient(-45deg, #c88f00, #caa900, #8a5500);
  padding: 5px;
  margin: 0 auto;
  transform: rotate(2deg);
  box-shadow: 3px 3px 10px #00000075;
  margin-bottom: 50px;
}

.playerPortrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px 3px black inset, -1px -1px 0px 1px #00000075, 1px 1px 0px 1px #fbc90075;
}

.playerCard{
  position: relative;
}

.playerPortraitBig {
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 100%;
  height: auto;
  border: 0.5vw double #ebb101;
  background: linear-gradient(-45deg, #c88f00, #caa900, #8a5500);
  padding: 0.5vw;
  margin: 0 auto;
  box-shadow: 3px 3px 30px #00000075;
  position: relative;
}

.playerPortraitBig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px 3px black inset, -1px -1px 0px 1px #00000075, 1px 1px 0px 1px #fbc90075;
}

.playerPortraitBig.playerDead::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 100%;
  background: url(images/dead.png) no-repeat center center;
  background-size: contain;
  z-index: 99;
}

.playerPortraitBig.playerDead img {
  filter: grayscale(100%);
}

.playerCard .playerNameplate {
  text-align: center;
  color: #51361a;
  text-shadow: 1px 1px 5px #ffe558;
  background: linear-gradient(-45deg, #c88f00, #caa900, #8a5500);
  border-radius: 0.6vw;
  padding: 0.1vw 1vw;
  border: 0.2vw solid #7d5d00;
  border-top-color: #f8b901;
  border-left-color: #f8b901;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 91%;
  transform: translateX(-50%);
    white-space: nowrap;
}



#breakfast page,
#playerboard page {
  width: 100%;
}

.playerboard{
  display: none;
}
.display-mode .playerboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5vw;
  justify-items: center;
  align-items: center;
  max-width: 85%;
}


.leaderboardScores li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.3vw;
  color: white;
  text-shadow: 0 0 5px black;
  font-weight: bold;
  padding: 7px 50px;
  background: linear-gradient(0deg, rgba(189,100,14,1) 0%, rgba(246,210,121,1) 100%);
  border-bottom: 1px solid goldenrod;
}

.question-image  img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.display-mode .question-image {
  width: 100%;
  height: 100%;
}
.display-mode .question-image h1 {
  display: none;
}
.display-mode .question-image img {
  display: block;
}
.display-mode .question-image img.image-answer {
  display: none;
}
.display-mode .question-image.reveal img.image-question {
  display: none;
}
.display-mode .question-image.reveal img.image-answer {
  display: block;
}

.display-mode .question-image + .answers {
  display: none;
}

.display-mode #game4 page{
  width: 100%;
  height: 100%;
}


#firepit .bag {
  display: none;
  width: 75vw;
}

#firepit video {    
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

#firepit video.end {    
  filter: hue-rotate(70deg);
}

#firepit video.continue {    
  filter: hue-rotate(-50deg);
}



#chalkboard {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black url(images/chalkboard.jpg) no-repeat center center;
  background-size: cover;
}

#drawingCanvas {
  position: relative;
  width: 100%;
  height: 100%;
}

#drawingCanvas.disabled {
  pointer-events: none;
}

.mobileonly.voteforplayerWrapper {
  width: 100%;
  overflow-x: auto;
  max-height: 50vh;
}

.voteforplayer {
  padding: 0;
  margin:0;
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.voteforplayer li{
  width: 100%;
}

.chalkboardbuttons {
  position: absolute;
  z-index: 10;
  top: 50%;
  display: flex;
  gap: 20px;
  transform: translateX(-40%) rotate(90deg) scale(0.85);
  transform-origin: center;
  opacity: 0.8;
}

.chalkboardbuttons h2{
  white-space: nowrap;
}

.murdervideo {
  display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.instructions {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;    
  background: radial-gradient(#00000085, transparent);
}

.instructions h2{
  margin: 0;
}


.instructions p{
  color: #c3cdb6;
  text-shadow: 0 0 10px black;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 3vh;

}

.display-mode .instructions p{
  font-size: 4.5vh;
}

.totalPrize h1,
.countdown h1{
  font-size: 22vw;
  margin: 0;
}

.totalPrize h2, 
.countdown h2{
  margin: 0;
}

.charlotte {
  aspect-ratio: 9/16;
  height: 80%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.firstclue {
  display: none;
  position: absolute;
  font-size: 4vw;
  width: 63%;
  text-shadow: 0 0 20px BLACK;
}

.logo video{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo img {
  position: absolute;
  width: 50vw;
}

input[type=file] {
    background: #00000052;
    color: white;
    backdrop-filter: blur(1px);
  padding: 15px 20px;
  text-align: center;
  font-size: 19px;
  width: 90%;
    border: 2px solid #000000;
  font-family: 'Teko', sans-serif;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-appearance: none;
}

input[type=file]::file-selector-button {
  border: 3px solid #000000;
  background-color: #243f20;
  background-image: linear-gradient(180deg, #43683b, #454545 50%, #000000 50%, #243f20);
  box-shadow: 2px 2px 10px 0px #0000004d;
  font-family: 'Teko', sans-serif;
  color: #ff9d00;
  text-shadow: 0px -1px 0px rgb(253 204 3), 0px 2px 2px rgb(83 9 6);
  font-size: 2.5vh;
  line-height: 1em;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 0.5sease-in-out;
  align-self: center;
  margin-right:20px;
}

.betraylquestions h2{
  display: none;
}

.betraylquestions h2.active{
  display: block;
}


.tombstones {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 100px;
}

.tombstones div{
  aspect-ratio: 1/1;
  background: url(images/tombstone.png) center no-repeat;
  background-size: contain;
  text-align: center;
  padding: 50px;
  width: 33%;
  font-size: 4vw;
}

#spin {
  background: url(images/bg-wheel.jpg) no-repeat center center;
  background-size: contain;
}

#spin .playerwheel {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#spin .playerwheel li {
  max-width: 22%;
  display: none;
  position: absolute;
}

#spin .wheelSpinner {
    width: 90vw;
    height: 90vw;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0px -9px 20px 20px #00000075;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, 0%);
}

#spin  .wheelpointer {
  background-image: url(images/wheelpointer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    width: 10%;
    height: 13%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#spin .wheel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(images/wheel.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center;
}

#spin .spinning .wheel {
  animation: spinAnimation 1s linear infinite;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}